.top ul li {
    display: inline-block;
}
.top {
    float: right;
    position: relative;
    z-index: 5;
}
.top ul li a, .formal-stuff-right a {
    color: black;
    text-decoration: none;
}
.top ul li a:hover, .formal-stuff-right a:hover {
    text-decoration: underline;
}
#sign-in {
    background-color: blue;
    padding: 10px;
    color: white;
}
#search-bar {
    position: absolute;
    width: 350px;
    height: 30px;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%, -100%);
}
html,body {
    margin: 0;
}
.logo {
    height: 92px;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.main {
    position: relative;
    height: 700px;

}
.search-bar {
    position: relative;
    height: 40px;
    top: 40%;
}
.buttons {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
}
table {
    margin-left: 1em;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    background-color: rgb(185, 185, 185);
    height: 4.5em;
}
.formal-stuff-right {
    float: right;
}
.formal-stuff-left {
    display: inline-block;
}
.formal-stuff-left, .formal-stuff-right, .country {
    padding: 0.5em;
}
.country {
    border-bottom-style: solid;
    border-width: 1px;
}
